EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key
CLERK_JWT_KEY=your_clerk_jwt_key
DATABASE_URL=your_neon_database_url
PAYSTACK_SECRET_KEY=your_paystack_secret_key
